<div class="container-fluid back-img" >
  <div class="content">
    <h1>Join NEXA!</h1>
    <h3>The best alliance in the game...</h3>
    <div class="row">
      <div class="col-lg-12">
        <p>We recognize that there is strength in numbers, and so we are proud to have a very large and actively alliance of deeds.</p>
        <p>In an effort to be drama free, we are accepting deeds and individuals that meet the criteria:</p>
        <ul>
          <li>Mature: we are all adults with real life responsibilites.</li>
          <li>Empathetic: we value people's grinding efforts and we love helping new players better appreciate our world.</li>
          <li>Communicative: we talk to each other, act goofy, and make people aware of projects that might affect others.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3>Join Your Deed</h3>
        <p>We'd be happy for your village to join our ever growing list of allied villages. If you aren't around the Northeast part of Xanadu, we can provide
          an exception. (As long as you have a good reputation and aren't annoying like xxxxxx. Gods what a schmuck!) </p>
          <p>Contact one of the clan leaders of the <a routerLink="/roster">Roster</a> page.</p>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <h3>Join Amish Estates</h3>
          <p>Amish Estates is one of the biggest and most active communal villages in the Wurn Universe.</p>
            <p>Contact one of the clan leaders of the <a routerLink="/roster">Roster</a> page.</p>
        </div>
      </div>
  </div>
</div>