<div class="container-fluid back-img">
    <div class="content">
        <h1>Olaf's Recipe Guide</h1>

        <p-tabView>
            <p-tabPanel header="Main Meals">
                <p-accordion [multiple]="true">
                    <p-accordionTab *ngFor="let r of masterRecipes" [header]="r.Name">
                        <p-card [title]="r.Name" styleClass="ui-card-shadow">
                            <dl>
                                <dt>Date Added:
                                    <dt>
                                        <dd>{{r.Date}}</dd>
                                        <dt>Difficulty:</dt>
                                        <dd>{{r.Difficulty}}</dd>
                                        <dt>Oven Type:</dt>
                                        <dd>{{r.OvenType}}</dd>
                                        <dt>Container:</dt>
                                        <dd>{{r.Container}}</dd>
                                        <dt>Tool:</dt>
                                        <dd>{{r.Tool}}</dd>
                                        <dt>Mandatory Ingredients:</dt>
                                        <dd>
                                            {{r.MandatoryIngredients}}
                                        </dd>
                                        <dt>Optional Ingredients:</dt>
                                        <dd>
                                            {{r.OptionalIngredients}}
                                        </dd>
                            </dl>
                        </p-card>
                    </p-accordionTab>
                </p-accordion>
            </p-tabPanel>
            <p-tabPanel header="Lamb Foods">
                Content 2
            </p-tabPanel>
            <p-tabPanel header="Horse Foods">
                Content 3
            </p-tabPanel>
        </p-tabView>
    </div>
</div>