<div class="container-fluid">
  <img class="back-img" src="../assets/shroud-of-jackjones.png" />
  <div class="content">
    <h1>NEXA Roster</h1>
    <div class="row">
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr class="table-success">
              <th>Main</th>
              <th>Alts</th>
              <th>Title</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light" *ngFor="let p of players">
              <td>{{p.Main}}</td>
              <td>{{p.Alts}}</td>
              <td>{{p.Title}}</td>
              <td>{{p.Status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>